
.site-name {

	@include leader( 1 );
	@include adjust-font-size-to( ms(7, $base-font-size, $minor-third ) );
	text-align: center;
	$lines: lines-for-font-size(ms(7, $base-font-size, $minor-third ));

	.project--dt & {

		color: $dt-color;
	}

	.project--rtt & {

		color: $rtt-color;
	}

	.project--tt & {

		color: $tt-color;
	}

	.project--twig & {

		color: $twig-color;
	}

	.project--rte & {

		color: $rte-color;
	}
//	@include breakpoint( $bp-site-name-medium ) {
	@include breakpoint( $bp-medium-portrait) {

		@include adjust-font-size-to( ms( 11, $base-font-size, $minor-third ) );
	}
}
