<section class="project project--dt">
    <header class="project--header">

        <h1 class="site-name">NapoleonE</h1>
    </header>
    <div class="project--demo">
      <a href="http://www.digitaltreasures.ca">

        <img class="project__image" src="/sites/all/themes/napoleone/img-min/digital-treasures.png">
      </a>
      <div class="project--demo-content">

        <!--<h2 class="project-name">Digital Treasures</h2>-->
        <p>Digital Treasures is a Video/Photo/Film/Audio to digital service that operates in the Greater Toronto Area. Their goal is to provide friendly, expert advice and the highest quality conversion service in Canada.</p>
      </div>
    </div>
</section>
<section class="project project--rtt">
    <header class="project--header">

        <h1 class="site-name">NapoleonE</h1>
    </header>
    <div class="project--demo">
      <a href="http://www.routestotrades.ca">

        <img class="project__image" src="/sites/all/themes/napoleone/img-min/routes-to-trades.png">
      </a>
      <div class="project--demo-content">

        <!--<h2 class="project-name">Routes TO. Trades</h2>-->
        <p>Routes TO. Trades was created by Toronto Workforce Innovation Group and funded by Citizenship and Immigration Canada. The website is a sibling to Routes TO. Employment and covers on the skills necessary and resources available to enter a trade in Ontario.</p>
      </div>
    </div>
</section>
<section class="project project--tt">
    <header class="project--header">

        <h1 class="site-name">NapoleonE</h1>
    </header>
    <div class="project--demo">
      <a href="http://www.tundratechnical.ca">

        <img class="project__image" src="/sites/all/themes/napoleone/img-min/tundra-technical.png">
      </a>
      <div class="project--demo-content">

        <!--<h2 class="project-name">Tundra Technical</h2>-->
        <p>Tundra Technical are a leading technical recruiting company that specialize in Engineering and IT staffing. They represent talent in three continents through offices in Canada, United States, India and the United Kingdom.</p>
      </div>
    </div>
</section>
<section class="project project--twig">
    <header class="project--header">

        <h1 class="site-name">NapoleonE</h1>
    </header>
    <div class="project--demo">
      <a href="http://www.workforceinnovation.ca">

        <img class="project__image" src="/sites/all/themes/napoleone/img-min/toronto-workforce-innovation-group.png">
      </a>
      <div class="project--demo-content">

        <!--<h2 class="project-name">Toronto Workforce Innovation Group</h2>-->
        <p>Toronto Workforce Innovation Group do research about the Toronto labour market, they distill statistics, analyze trends, hold events and provide tools and tips for job developers, job seekers and employers.</p>
      </div>
    </div>
</section>
<section class="project project--rte">
    <header class="project--header">

        <h1 class="site-name">NapoleonE</h1>
    </header>
    <div class="project--demo">
      <a href="http://www.routestotrades.ca">

        <img class="project__image" src="/sites/all/themes/napoleone/img-min/routes-to-employment.png">
      </a>
      <div class="project--demo-content">

        <!--<h2 class="project-name">Routes TO. Employment</h2>-->
        <p>Routes TO. Employment was created for Toronto Workforce Innovation Group and funded by Citizenship and Immigration Canada. The website covers the largest employment sectors in Ontario, the different levels and provides facts and resources for each.</p>
      </div>
    </div>
</section>