$projects: (
	dt: $dt-color,
	rtt: $rtt-color,
	tt: $tt-color,
	twig: $twig-color,
	rte: $rte-color
);

@each $project, $color in $projects {

	.p-#{$project}__header {
		color: $color;
	}
}

.p__section {
	overflow: hidden;
}

.p-content {

	height: 45vh;
	margin-top: 50vh;

	@include breakpoint( 'screen' (orientation portrait)) {

		height: 55vh;
		margin-top: 40vh;
	}

	@include breakpoint( 'screen' (min-aspect-ratio '1/1')) {

		height: 45vh;
		margin-top: 50vh;
	}
}

@each $project, $bgcolor in $projects {

	.p-#{$project}-content {
		background-color: $bgcolor;

		.p-description {

			height: 45vh;

			@include breakpoint( 'screen' (orientation portrait)) {

				height: 55vh;
			}

			@include breakpoint( 'screen' (min-aspect-ratio '1/1') ) {

				height: 45vh;
			}
		}
	}
}

.p-content {

	$gutter-width: gutter-span();
	padding-right: $gutter-width;
	padding-left: $gutter-width;
	@include transform-style( preserve-3d );
	color: #ffffff;
	text-align: center;
}

.p-rte-content {

	height: 50vh;
	margin-top: 50vh;

	@include breakpoint( 'screen' (orientation landscape)) {

	height: 50vh;
	margin-top: 80vh;
}

	.p-description {

		height: 50vh;
	}
}

.p-content-wrapper {
	@include translateY( -50vh );

	@include breakpoint( 'screen' (orientation portrait)) {

		@include translateY( -40vh );
	}

	@include breakpoint( 'screen' (min-aspect-ratio '1/1')) {

		@include translateY( -50vh );
	}
}

.p-image__link {
	position: relative;
	display: block;
	vertical-align: middle;
	height: 50vh;

	@include breakpoint( 'screen' (orientation portrait)) {

		height: 40vh;
	}

	@include breakpoint( 'screen' (min-aspect-ratio '1/1')) {

		height: 50vh;
	}
}

.p__image {

	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: - (image_height('digital-treasures.png')*.10);
	@include translateX(-50%);

	@include breakpoint( 'screen' 340px (orientation portrait)) {

		max-width: 90%;
	}

	@include breakpoint( 'screen' (min-aspect-ratio '1/1')) {

		max-width: 100%;
	}
}

.p-description {

	p {
		position: relative;
		top: 50%;
		margin-bottom: 0;
		@include translateY(-50%);
	}
}
.p-next {

	position: relative;
	left: 50%;
	@include translateX(-50%);
	cursor: pointer;
}

@each $project, $color in $projects {
	.p-#{$project}-next{
		@include triangle( $color, 5vh, 50px, 180);
	}
}

.p-next--small {

	margin-top: -5vh;
	margin-left: -12.5px;
	@include triangle( #ffffff, 2.5vh, 25px, 180);
	@include transform-style( preserve-3d );
}
.p-next__link {

	position: absolute;
	top: - rhythm( 1.5, $base-font-size );
	@include translateX(-50% );
	color:#ffffff;

	@include breakpoint( $bp-more-link-top ) {

		top: - rhythm( 2, $base-font-size );
	}
}